body {
  padding: 0;
  margin: 0;
}

* {
    margin: 0;
    padding: 0;
   
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3c43bf;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

